.todos_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width:600px;
  margin-top: 1rem;

  border-radius: 0.2rem;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.todos_container h2 {
  margin: 0;
  padding: 5px 0;
  border-radius: 0.2rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: thistle;
  border-bottom: 2px solid rgb(65, 65, 65);
  text-align: center;
}
.todos_container:first-child {
  background-color: #fda847;
}
.todos_container:last-child {
  background-color: #357fce;
}
.todo_list {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  min-height: 245px;
}

.todo_item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  text-decoration: none;
  background-color: #fff3e6;
  padding: 0.1rem 0.3rem;
  font-weight: 500;
}
.todo_item:nth-child(even) {
  background-color: #fff3e6;
}
.todo_item:nth-child(odd) {
  background-color: #eed8c0;
}
.todo_item:last-child{
  border-bottom-left-radius:0.2rem ;
  border-bottom-right-radius: 0.2rem;
}

.todo_item_button {
  background: none;
  border: none;
  border-radius: 10px;
  outline: none;
  width: 30px;
  height: 24px;
  cursor: pointer;
  margin: 0 5px;
}
.todo_item_button:first-child {
  background-color: rgb(66, 214, 145);
}
.todo_item_button:first-child:hover {
  background-color: rgb(124, 231, 181);
}
.todo_item_button:last-child {
  background-color: rgb(236, 122, 76);
}
.todo_item_button:last-child:hover {
  background-color: rgb(243, 150, 113);
}
